{{ define "dashboard" }}
{{ template "base_top" . }}
<article>
  <h3>Dashboard</h3>
  <p>You're logged in. This is the protected area where we'll add athletes, syncs, etc.</p>
</article>
{{ template "base_bottom" . }}
{{ end }}

